﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.11.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.js")" type="text/javascript"></script>
    <link href="/Content/themes/Aristo/jquery-ui-1.8.7.custom.css" type="text/css" rel="stylesheet" />

    <script src="/Scripts/jquery.globalize/globalize.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.globalize/cultures/globalize.culture.@(System.Globalization.CultureInfo.CurrentUICulture.Name).js" type="text/javascript"></script>

    @if (System.Globalization.CultureInfo.CurrentUICulture.Name != "en-US")
    {
        <script src="/Scripts/jquery-ui-i18n.js" type="text/javascript" ></script>
    }
    <script type="text/javascript">
        Globalize.culture("@System.Globalization.CultureInfo.CurrentUICulture.Name");
    </script>

    @if (System.Globalization.CultureInfo.CurrentUICulture.Name != "en-US")
    {
        <script type="text/javascript">
            $(function () {

                function GetDatePickerRegion(locale) {

                    // Try to get region directly (with the same name)
                    var region = $.datepicker.regional[locale];
                    if (region != undefined)
                        return region;

                    // Fallback when region specific (e.g. "de-DE" to "de")
                    if (locale.length >
                        2) {
                        region = $.datepicker.regional[locale.substring(0, 2)];
                        if (region != undefined)
                            return region;
                    }

                    // Return default region
                    region = $.datepicker.regional[""];
                    return region;
                }

                var region = GetDatePickerRegion('@System.Globalization.CultureInfo.CurrentUICulture.Name');
                $.datepicker.setDefaults(region);
            });
        </script>
    }

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
    <![endif]-->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <a class="github-fork-ribbon left-top" href="http://url.to-your.repo" title="Fork me on GitHub">Fork me on GitHub</a>
  
    <div class="container">
        @RenderBody()
    </div>
    <footer>
    </footer>

</body>
</html>
